/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Centering content on screen */
body {
    font-family: Mardoto, sans-serif;
    text-align: center;
    background-color: white; /* Plain white background */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Remove shadow and borders from container */
.container {
    max-width: 400px;
    width: 90%;
    background: white; /* Matches the background */
    padding: 20px;
}

/* Profile image */
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Client ID */
h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Description text */
.description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

/* Button styles */
.button {
    display: block;
    width: 100%;
    background: #1976D2;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background 0.3s;
}

/* Button hover effect */
.button:hover {
    background: #1565C0;
}

@font-face {
    font-family: 'Mardoto';
    src: url('fonts/Mardoto-Medium.woff') format('woff2'),
    font-weight: normal;
    font-style: normal;
}
